@import url("site.min.css");
/* BASIC STYLE */
@import url("color.min.css");

/* 
màu sắc
file:///F:/themeforest-11989202-remark-responsive-bootstrap-4-admin-template%20(2)/classic/topicon/html/uikit/colors.html
*/

@import url("table.min.css");

/*--------custom---------*/

a,
a:hover {
  text-decoration: none;
}

body {
  /* background: #000000 !important; */
  background: #424144 !important;
}

.navbar-form {
  -webkit-box-shadow: inset 20px 3px 0 rgba(255, 255, 255, 0),
    0 1px 0 rgba(255, 255, 255, 0) !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0),
    0 1px 0 rgba(255, 255, 255, 0) !important;
}

.navbar-form .form-control {
  border-radius: 4px;
  width: 220px;
}

.table-header {
  background: #e2ecf1 !important;
}

.pricing-header {
  background: #282828 !important;
}

.pricing-features {
  background: #1b9c71;
}

/* FONT COLOR  */
/* --grey 600 */
body,
.pricing-list,
.table-header tr th,
#tabale-data2 tbody tr td,
#tablesaw tbody tr td,
.counter-label {
  color: #76838f !important;
}

/* --grey 100 */
.coin-header--price-BTC,
.coin-header--price,
.counter-number {
  color: #9e9e9e !important;
}

/* --grey 300 */
.coin-header--name,
.coin-header--symbol {
  color: #3e8ef7 !important;
}

/* .lable-value {
  color: #fafafa !important;
} */

/* FONT _SIZE */
.coin-header--name {
  font-size: 24px;
  line-height: 36px;
}

.coin-header--symbol {
  font-size: 22px;
  line-height: 34px;
}

.counter-label {
  font-size: 18px !important;
  line-height: 32px;
}

.coin-header--price,
.page-faq p {
  font-size: 16px !important;
  line-height: 28px;
}

.coin-header--price-BTC,
.lable,
.lable-value,
.table-header tr th,
#tabale-data2 tbody tr td,
table tbody tr td table thead tr th,
.counter-number {
  font-size: 14px !important;
  line-height: 20px;
}

/* FONT WEIGHT   */
table thead tr th .coin-header--name,
.lable {
  font-weight: 500 !important;
}

.coin-header--symbol,
.table-header tr th,
.counter-label {
  font-weight: 400 !important;
}

/* The herder Compoennt*/

.site-navbar,
.footer {
  background: #282828 !important;
}
/* SEARCH */

#navbar-collapse > .navbar-toolbar > .nav-item > .nav-link {
  color: #424242 !important;
}
.dropdown-item {
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #ddd;
}
.input-search-btn,
.input-search-btn:hover {
  color: grey;
  cursor: pointer;
}
/* END SEARCH */

/* PAGE HOME */

.lable {
  display: inline-block;
  word-wrap: break-word;
  font-size: 13px !important;
}

.lable-value {
  display: inline-block;
  width: 60%;
  word-wrap: break-word;
}

.link-none {
  text-decoration: none;
}

.pricing-list {
  border: 0px !important;
}

.pricing-list .pricing-header {
  border: 0px;
}

.pricing-list .pricing-features li:first-child {
  border: none;
}
.pricing-list .pricing-features li {
  border-top: 1px dashed #1fad7e !important;
}

/* PAGE INFO */

#main-info-right--header {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}
.info-header--top {
  border-radius: 20px !important;
}

.lable {
  font-weight: 500;
}

.coin-header,
.lable,
.lable-value {
  text-align: left !important;
}

.coin-header--name {
  line-height: 32px;
  font-size: 28px;
  vertical-align: middle;
  font-family: serif;
  text-transform: capitalize;
}

.coin-header--symbol {
  font-size: 18px;
  vertical-align: middle;
  font-family: serif;
  text-transform: uppercase;
}

.article-sidebar {
  background: #ffffff00 !important;
  border-radius: 5px !important;
}

table {
  box-shadow: 0px 0px 0px 1px #ddd !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #fff !important;
  background: #d9d9d9;
}

@media screen {
  #articleSticky {
    margin-left: -40px;
  }
}

.list-group-item {
  border-bottom: 0x solid #e2ecf1 !important;
  line-height: 10px;
  background: #11c26dc4;
  margin-bottom: 10px !important;
  display: block;
  font-size: 12px !important;
  text-align: left;
  padding: 15px 10px 10px 20px !important;
  width: 86%;
  margin: 0px;
}

a.list-group-item:focus,
.page-aside .list-group-item:hover {
  background-color: #ffff;
}
.app-documents .article-sidebar,
.app-documents .article-content {
  background-color: #fff0;
}

.lable,
.lable-value,
.dataTables_info,
.dataTables_length,
.paginate_button a,
.dataTables_filter,
.paginate_button.disabled,
.align-items-start h4 {
  font-size: 15px;
  color: #ffffff !important;
}

.align-items-start:hover h4 {
  color: #ce4444d1 !important;
}

.list-group {
  padding: 30px 0px;
  border-radius: 4px;
}

.page-aside {
  border: 0px solid #fff;
}
/* PAGE ADD*/

.coin-layout-form {
  padding: 40px 20px;
  width: 710px;
  /* background-color: #f50; */
  border-radius: 4px;
  margin: 90px auto 60px auto;
  /* background-image: -webkit-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#ffffff 75%,#efefef),-webkit-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef); */
}

.coin-layout-container {
  width: 650px;
  margin: 0px auto;
  background: #fff;
  border-radius: 4px;
}

.form-control {
  border-bottom: 1px solid #ddd !important;
  padding-left: 15px !important;
}

input.form-control.is-valid {
  border: 1px solid #e01010 !important;
  border-radius: 4px;
}
.swal2-icon {
  font-size: 14px !important;
}

.swal2-icon-text {
  font-size: inherit;
}

/* SOCIAL */

.card-shadow {
  /* border: 1px solid #a7aeb4e8; */
  color: #1b9c71;
}
.card-shadow:hover {
  /* border: 1px solid #a7aeb4e8; */
  box-shadow: 1px 1px 1px #ddd;
  color: grey;
}
/* .card-shadow:hover i {
  color: #1b9c71;
} */
.social-item {
  color: initial;
  text-decoration: none;
}

main {
  margin-bottom: 20px;
}
.footer {
  position: fixed;
  padding: 5px 0px;
  max-height: 30px;
  width: 100%;
  bottom: 0px;
  bottom: 0px;
  color: #fff;
}

@media (min-width: 768px) {
  .site-navbar .navbar-header {
    width: 90px;
  }
}

@media (max-width: 768px) {
  .coin-header,
  .lable,
  .lable-value {
    text-align: center !important;
  }
}



.panel-default > .panel-heading {
  padding: 10px 15px;
  background: #282828;
  color: #ffffff;
  border-bottom: 1px solid #16161f;
}

.panel-default > .panel-body {
  background: #1b9c71de;
  padding: 15px;
  color: #fff;
}
