<template>
    
      <div class="container m-0">
        <div class="inject-app">
         
        
          <form v-for="(item,index) in account" @submit.stop.prevent="running" class="mb-10">
            <div class="row">
              <div class="ml-15 col-3">
                
                <input type="text" name="acc" class="form-control" v-model="item.acc" placeholder="Account">
              </div>
              <div class="col-2">
                <input type="text" name="port" class="form-control" v-model="item.port" placeholder="Enter Browser Port">
              </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-sm btn-success"> RUN</button>
                   
                    <button type="button" class="btn btn-sm btn-warning float-right ml-15" @click="hiddenAll"> Show</button>
                    <button type="button" class="btn btn-sm btn-primary float-right ml-15" @click="addRun"> add </button>
                    <button type="button" class="btn btn-sm btn-danger float-right ml-15" @click="rvRun(index)"> delete</button>
              </div>
            </div>
          </form>
      <hr/>
      <div v-if="hiddend">

            <form class="mb-10">
            
              <div class="row mb-10">
                  <div class="ml-15 col-11">
                      <button type="button" class="mt-10 btn btn-sm btn-warning float-left" @click="addChannel">Add Channel</button>
                      <button type="button" class="mt-10   ml-10 btn btn-success btn-sm float-left" @click="loadData">Load Channel</button>
                    
                      <button type="button" class="mt-10 ml-10  btn btn-sm btn-danger float-right" @click="hiddendChannel">Hidden channel</button>
                      <button type="button" class="mt-10 ml-10 btn btn-sm btn-warning float-right" @click="upStt(1,null,1)">Start All</button>
                  </div>
              </div>

              <div v-show="!showChannel">       
                      <div class="row">
                        <div class="ml-15 col-6">
                          <input type="text" class="form-control" v-model="model.acc" placeholder="Account" required>
                        </div>
                          <div class="ml-15 col-3">
                            <input type="date" class="form-control" v-model="byday" placeholder="Ngay Thang">
                        </div>  
                        <div class="col-2">
                            <button type="button" class="btn btn-sm btn-success float-right mr-10" @click="loadDataByDay">Data By Day</button>
                        </div>          
                      </div>
                      <div  v-if="model.group.length>0" v-for="(item,index) in model.group" class="row mt-20">
              
                        <div class="col-1">
                           <button type="button" @click="upStt(index,item)" class="btn btn-icon btn-success  btn-round btn-xs float-right" ><i class="fas fa-retweet"></i></button>
                           <button type="button" @click="rmInput(index,item)" class="mr-5 btn btn-icon btn-danger btn-round btn-xs float-right" ><i class="far fa-trash-alt"></i></button>
                        </div>     

                        <div class="ml-15 col-6">
                          <input type="text" name="_lnk" v-model="item._lnk" class="form-control" placeholder="Channel" required>
                        </div>
                        <div class="col-2">
                          <input type="text" name="nm" v-model="item.nm"  class="form-control" placeholder="Name Channel" required>
                        </div>
                        <div class="col-1">
                          <input type="text" name="scroll" v-model="item.scroll" class="form-control" placeholder="Scroll Start" required>
                        </div>  
                        <div class="col-1">
                          <input type="text" name="pos" v-model="item.pos" class="form-control" placeholder="Position Start" required>
                        </div>   
                      
                      </div>
                
                      <div class="row mt-20">
                        <div class="col-11 ml-15">
                            <button type="button" class="btn btn-success btn-sm float-right" @click="updatedGroup">Submit</button>
                        </div> 
                      </div>
                  </div>
            </form>
              
            <hr/>

              <form class="mb-10 ml-15">
                <div class="row">
                    <div class="col-6">
                      
                        <button type="button" class="btn btn-sm btn-success float-left mr-25" @click="hiddendMessage">Campaign </button>
                        <button type="button" class="btn btn-sm btn-success float-left mr-25" @click="hiddendMessage">Message</button>
                        <button type="button" class="btn btn-sm btn-danger float-left mr-10" @click="hiddendTable"> ViewTable</button>
                        
                   </div>
                </div>
              </form>

              <div style="padding: 15px; width: 100%; margin: 0px auto">
        
                    <table v-if="showTable"   class="table table-bordered"> 
                      <thead>
                        <tr class="font-size-18 text-uppercase text-center font-weight-600">
                          <th>Account</th>
                          <th>Name Channel</th>
                          <th>Link Channel</th>
                          <th>Msg</th>
                          <th>Scroll</th>
                          <th>Position</th>
                          <th>Stt</th>
                          <th>Active</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(item,index) in data.group">
                          <td> {{data.acc }}  </td>
                          <td> {{item.nm}} </td>
                          <td> {{item._lnk}} </td>
                          <td>{{item.c}}</td>
                          <td>{{item.scroll}}</td>
                          <td>{{item.pos}}</td>
                          <td :class="{'text-success': item.stt == 1, 'text-danger': item.stt != 1}">{{item.stt == 1 ? "Running" : "Stop"}}</td>
                          <td>
                              <button type="button" @click="removeChannel(index,item)" class="float-left btn btn-icon btn-danger btn-round btn-sm" >
                                <i class="far fa-trash-alt"></i>
                              </button>
                            </td>
                        </tr>
                      </tbody>
            
                    </table>

                    <!--  -->
                  
                    <table v-if="showTable" class="table table-bordered" > 
                      <thead>
                        <tr class="font-size-18 text-uppercase text-center font-weight-600">
                          <th>Name</th>
                          <th>Link</th>
                          <th>Time</th>
                          <th>Count</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="item of links">
                          <td>{{item._usr}}</td>
                          <td>{{item._lnk}}</td>
                          <td>{{item.crt}}</td>
                          <td>{{links.length}}</td>
                        </tr>
                      </tbody>
                    </table>
              </div>
              <hr/>

              <div v-if="showMessage" style="padding: 15px; width: 100%; margin: 0px auto">
                  <form  @submit.stop.prevent="addMessage" class="mb-10">
                    <div class="row">
                      <div class="ml-15 col-11">
                        <input type="text" name="msg1" class="form-control" placeholder="Hi @name ! nice to miss you" required>
                      </div>
                    
                      <div class="ml-15 col-11 mt-10">
                        <textarea name="msg2" class="form-control" rows="6" required></textarea>
                      </div>

                        <div class="ml-15 col-11 mt-10">
                          <button type="submmit" class="btn btn-sm btn-success  mt-10"> Submit Message</button>
                        </div>
                    </div>
                  </form>
              </div>


             </div>
          <!-- Modal -->

        </div>
      </div>
   
</template>



<script>
var axios = require("axios");

const api = axios.create({
  baseURL: "http://localhost:3020",
  timeout: 3000
});

import "./css/layout.css";

export default {
  data() {
    return {
      model: {
        acc: "Account Mail",
        cid: "Link Channel Run",
        group: [
          {
            _lnk: "channel link",
            nm: "channel name",
            pos: 0,
            scroll: 3
          }
        ]
      },
      data: {},
      links: [],
      showChannel: false,
      showTable: false,
      showMessage: false,
      account: [{ acc: "", port: "" }],
      byday: "Enter By Day",
      hiddend: false
    };
  },
  watch: {
    query: {
      handler(query) {
        mockData(query).then(({ rows, total, summary }) => {
          this.data = rows;
          this.total = total;
          this.summary = summary;
        });
      },
      deep: true
    }
  },
  methods: {
    addChannel() {
      this.model.group.push({
        _lnk: "channel link",
        nm: "channel name",
        pos: 0,
        scroll: 3
      });
    },

    rmInput(index, item) {
      this.model.group.splice(index, 1);
      console.log(this.model.group);
    },

    removeChannel(index, item) {
      // this.mode;
      this.model.group = this.model.group.filter(
        _item => _item._lnk != item._lnk
      );
      this.data.group = this.data.group.filter(
        _item => _item._lnk != item._lnk
      );
      api
        .post("/api/channel/remove", {
          acc: this.model.acc,
          group: this.data.group
        })
        .then(res => {
          console.log(res.data);
        });
    },

    loadData() {
      this.showTable = true;
      let _this = this;
      let _acc = this.model.acc;
      api.post("/api/channel/fetch", { acc: _acc }).then(res => {
        console.log(res);
        if (res.data.stt == 1) {
          _this.data = res.data.info;
        } else {
          _this.data = [];
          alert("Not Users Send Message By Day");
        }
      });

      api
        .post("/api/channel/fetch", {
          acc: _acc
        })
        .then(res => {
          if (res.data.stt == 1) {
            _this.model = res.data.info;
          }
        });
    },

    loadDataByDay() {
      let _this = this;

      api.post("/api/channel/fetch", { day: this.byday }).then(res => {
        if (res.data.list) {
          _this.links = res.data.list;
          _this.showTable = true;
        }
      });
    },

    hiddendChannel() {
      this.showChannel = !this.showChannel;
    },
    hiddendTable() {
      this.showTable = !this.showTable;
    },
    hiddendMessage() {
      this.showMessage = !this.showMessage;
    },
    hiddenAll() {
      this.hiddend = !this.hiddend;
    },
    addRun() {
      this.account.push({ acc: "", port: 0 });
    },
    rvRun(index) {
      this.account.splice(index, 1);
    },
    running(e) {
      let _arr = $(e.target).serializeArray();
      api.post("api/job/run", $(e.target).serialize()).then(res => {
        if (res.data.stt == 1) {
          alert("Please await... and check !");
        } else {
          alert("run job faild. Check and try again !");
        }
      });
    },
    upStt(index, item, all) {
      let _acc = this.model.acc;
      let _group = item;
      let payload;
      if (all) {
        payload = {
          acc: _acc,
          all: 1
        };
      } else {
        payload = {
          acc: _acc,
          group: item._lnk,
          pos: item.pos,
          scroll: item.scroll
        };
      }

      api.post("/api/channel/status", payload).then(res => {
        if (res.data) {
          alert("update success");
          console.log(res.data);
        }
      });
    },
    updatedGroup() {
      api.post("/api/channel/put", this.model).then(res => {
        if (res.data) {
          alert("add success");
          console.log(res.data);
        }
      });
    },

    addMessage(e) {
      api.post("api/message/put", $(e.target).serialize()).then(res => {
        if (res.data.stt == 1) {
          alert("add message success");
        } else {
          alert("add message faild");
        }
      });
    }
  },
  mounted() {
    let _this = this;
    // groups.find({}, function(err, _group) {
    //   if (err) {
    //     console.log(err);
    //   }

    //   if (_group) {
    //     let account = [];
    //     for (item of _group) {
    //       account.push({ acc: item.acc, port: item.port });
    //     }
    //     _this.account = account;
    //   }
    // });
  }
};
</script>

